$font-stack: 'Inter', sans-serif;

$container-width: 1440px;

$header-height: 72px;

$primary-color: #101828;
$text-color: #475467;
$gray: #6C717B;
$accent-color: #E44848;
$active-color: #D84343;
$gold: #FFC531;
$gray-light: #DADDE1;
$badge-color: #F2F4F7;
$input-color: #F7F7F7;
$white: #FFFFFF;

$border: 1px solid $gray-light;
