.imageContainer,
.imageContainerFullSize {
  overflow: hidden;
  border-radius: 12px;
  cursor: pointer;
}

.imageContainer {
  width: 292px;
  height: 312px;
}

.image {
  width: 100%;
  height: 105%;
  object-fit: cover;
  border-radius: 12px;
}
